<table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="1" style="border-collapse:collapse">
	<tbody>
		<tr>
			<td>
			<div dir="ltr" style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px"><em><strong>id(число)</strong></em></div>
			</td>
			<td>
			<div dir="ltr" style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px"><em><strong>title(текст)</strong></em></div>
			</td>
			<td>
			<div dir="ltr" style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px"><em><strong>tm_created(дата создания)</strong></em></div>
			</td>
		</tr>
		<tr>
			<td>
			<p dir="ltr" style="text-align:center"><strong>1</strong></p>
			</td>
			<td>
			<p dir="ltr" style="text-align:right"><strong>Test&nbsp; 1</strong></p>
			</td>
			<td style="text-align:center">23/11/2019</td>
		</tr>
		<tr>
			<td>
			<p dir="ltr" style="text-align:center"><strong>2</strong></p>
			</td>
			<td>
			<p dir="ltr" style="text-align:right"><strong>Test&nbsp;2</strong></p>
			</td>
			<td style="text-align:center">23.11.2019</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
